* {
  margin: 0;
  padding: 0;
}
header {
  background-color: darkmagenta;
  color: white;
  text-align: center;
  padding: 10px;
}
main {
  display: flex;
}
main .aside-bar {
  background-color: pink;
  width: 250px;
  min-height: 83vh;
  padding: 25px;
}
main ul {
  list-style: none;
}
footer {
  background-color: darkmagenta;
  color: white;
  text-align: center;
  padding: 13.5px;
}
